body{
    background-color: rgb(31, 49, 49);
}
.input-field{
    background-color: rgb(248, 243, 243);
    border-radius: 3px;
    border: none;
    border: 3px solid #6b9ae0
    ;
    width:200px;
    height: 30px;
}
.head{
    color: rgb(233, 240, 239);
}
.imges{
    height: 100%;
}
.text-color{
    color:rgb(238, 20, 220);
}

