body{
    background-color: rgb(121, 124, 124);
}
.input-field{
    background-color: rgb(243, 248, 246);
    border-radius: 3px;
    border: none;
    border: 2px solid #6b9ae0
    ;
    width:200px;
    height: 30px;
}
.head{
    color: rgb(133, 7, 126);
}
.imges{
    height: 100%;
}

